
    <div class="card">
        <div class="card-body p-4">
            <div class="search-box">
                <p class="text-muted">Search</p>
                <div class="position-relative">
                    <input type="text" class="form-control rounded bg-light border-light" placeholder="Search...">
                    <i class="mdi mdi-magnify search-icon"></i>
                </div>
            </div>

            <hr class="my-4">

            <div>
                <p class="text-muted">Categories</p>

                <ul class="list-unstyled fw-medium">
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> Design</a></li>
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> Development <span class="badge badge-soft-success rounded-pill float-end ms-1 font-size-12">04</span></a></li>
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> Business</a></li>
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> Project</a></li>
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> Travel<span class="badge badge-soft-success rounded-pill ms-1 float-end font-size-12">12</span></a></li>
                </ul>
            </div>

            <hr class="my-4">

            <div>
                <p class="text-muted">Archive</p>

                <ul class="list-unstyled fw-medium">
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> 2020 <span class="badge badge-soft-success rounded-pill float-end ms-1 font-size-12">03</span></a></li>
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> 2019 <span class="badge badge-soft-success rounded-pill float-end ms-1 font-size-12">06</span></a></li>
                    <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i> 2018 <span class="badge badge-soft-success rounded-pill float-end ms-1 font-size-12">05</span></a></li>
                </ul>
            </div>

            <hr class="my-4">

            <div>
                <p class="text-muted mb-2">Popular Posts</p>

                <div class="list-group list-group-flush">
                    @for(post of top ;track post._id) {
                        <a [routerLink]="isAdmin ? ['/admin/blog-detail', post._id] : ['/member/blog-detail', post._id]" class="list-group-item text-muted py-3 px-2">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3">
                                    <img [src]="'http://127.0.0.1:3000/files/'+post.image" alt="" class="avatar-md h-auto d-block rounded">
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="font-size-13 text-truncate">{{post.title}}</h5>
                                    <p class="mb-0 text-truncate">{{post.createdAt | date: 'dd MMMM yyyy'}}</p>
                                </div>
                            </div>
                        </a>
                    }
                 
                    
                
                </div>
            </div>

            <hr class="my-4">

            <div>
                <p class="text-muted">Tags</p>

                <div class="d-flex flex-wrap gap-2 widget-tag">
                    @for(tag of data ;track tag._id) {
                        <div><a [routerLink]="isAdmin ? ['/admin/blog-detail', tag._id] : ['/member/blog-detail', tag._id]" class="badge bg-light font-size-12">{{tag.tags}}</a></div>
                    }
                   
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end card -->

<!-- end row -->