<div class="container">
    <div class="row">
      <!-- Colonne gauche (carte + image) -->
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            
            <p class="mb-3">Drag and drop your event or click in the calendar</p>
  
            <!-- Catégories d'événements -->
          
  
            <!-- Image illustrative -->
            <img src="assets/Schedule.png" alt="Illustration" class="img-fluid mt-4">
          </div>
        </div>
      </div>
  
      <!-- Colonne droite (calendrier) -->
      <div class="col-md-8">
        <ejs-schedule 
          width='100%' 
          height='650px' 
        
        >
        </ejs-schedule>
      </div>
    </div>
  </div>