<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
     <!-- Calendrier -->
     <li class="nav-item">
      <a class="nav-link collapsed" href="/calendar">
        <i class="bi bi-calendar"></i>
        <span>Calendrier</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/chat">
        <i class="bi bi-chat-dots"></i>
        <span>Chat</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/blog">
        <i class="bi bi-journal-text"></i>
        <span>Blog</span>
      </a>
    </li>

    <!-- Events -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/events">
        <i class="bi bi-calendar-event"></i>
        <span>Événements</span>
      </a>
    </li>

    <!-- Payments / Membership -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/payments">
        <i class="bi bi-credit-card"></i>
        <span>Mes Paiements</span>
      </a>
    </li>

    <!-- FAQ -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/faq">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li>

    <!-- Contact -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/contact">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>

    

  </ul>
</aside>
