<div class="tab-pane fade show active profile-overview" id="profile-overview">
  <h5 class="card-title">About</h5>
  <p class="small fst-italic">{{data.user.aboutMe}}</p>

  <h5 class="card-title">Profile Details</h5>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Full Name</div>
    <div class="col-lg-9 col-md-8">{{data.user.firstName}} {{data.user.lastName}}</div>
  </div>


  <div class="row">
    <div class="col-lg-3 col-md-4 label">Job</div>
    <div class="col-lg-9 col-md-8">{{data.user.job}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Country</div>
    <div class="col-lg-9 col-md-8">{{data.user.country}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">city</div>
    <div class="col-lg-9 col-md-8">{{data.user.city}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Phone</div>
    <div class="col-lg-9 col-md-8">{{data.user.phone}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Email</div>
    <div class="col-lg-9 col-md-8">{{data.user.email}}</div>
  </div>
</div>