<!-- profile-change-password.component.html -->

  <form >
    <div class="row mb-3">
      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
      <div class="col-md-8 col-lg-9">
        <input name="currentPassword" type="password" class="form-control" id="currentPassword" >
      </div>
    </div>

    <div class="row mb-3">
      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
      <div class="col-md-8 col-lg-9">
        <input name="newPassword" type="password" class="form-control" id="newPassword" >
      </div>
    </div>

    <div class="row mb-3">
      <label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
      <div class="col-md-8 col-lg-9">
        <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" >
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </form>
