<app-navbar></app-navbar>
  <!-- End Header -->

<!-- ======= Sidebar ======= -->
  <app-sidbar></app-sidbar>
<!-- End Sidebar-->

<main id="main" class="main">
<router-outlet></router-outlet>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer  class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Membra</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    
    Designed by <a href="">Adem Ben Chiboub</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>