<div class="body">

<div class="container-fluid">
  <div class="row">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
         <!-- Dashboard Title above Navbar -->
         <div class="dashboard-header mt-3">
          <h2>Dashboard</h2>
          <p class="subtext">Welcome to your Membra Dashboard</p>
        </div>
          <!-- Top Navigation Bar -->
        
             <app-navbar></app-navbar>
          <!-- Main Content Area -->
        
      </main>
  </div>
</div>
</div>
