<div class="body">

<div class="container-fluid">
  <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
          <div class="position-sticky">
              <div class="sidebar-header d-flex flex-column align-items-start px-3 pt-2 pb-1">
                  <div class="logo">
                    
                      <span class="membra-logo" style="font-weight: bold; color: #555;">Membra</span>
                  </div>
                  <div class="user-info mt-3">
                      
                    <div class="user-info">
                      <a href="#" class="iconLink"><i class="bi bi-person-fill"></i></a>
                      <a href="#" class="iconLink"><i class="bi bi-bell"></i></a>
                      <a href="#" class="iconLink"><i class="bi bi-gear"></i></a>
                  </div>
                  </div>
              </div>
              <div class="search-bar px-3 mt-3">
                  <input type="text" class="form-control" placeholder="Search for...">
              </div>
              <ul class="nav flex-column mt-3">
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-home nav-icon me-2"></i> Eleven</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-file nav-icon me-2"></i> Twelve</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-briefcase nav-icon me-2"></i> Thirteen</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-chart-bar nav-icon me-2"></i> Fourteen</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-sticky-note nav-icon me-2"></i> Fifteen</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-cog nav-icon me-2"></i> Sixteen
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
         <!-- Dashboard Title above Navbar -->
         <div class="dashboard-header mt-3">
          <h2>Dashboard</h2>
          <p class="subtext">Welcome to your Membra Dashboard</p>
        </div>
          <!-- Top Navigation Bar -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="topNavbar">
                      <ul class="navbar-nav me-auto">
                          <li class="nav-item">
                              <a class="nav-link active" href="#"><i class="fa fa-tachometer-alt"></i> Overview</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-tasks"></i> Tasks </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-file-alt"></i> Documents </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-users"></i> Team <span class="badge bg-secondary">99+</span></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-chart-line"></i> Reports</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-user-cog"></i> Admin</a>
                          </li>
                      </ul>
                      <form class="d-flex">
                          <input type="date" class="form-control me-2" placeholder="Start date">
                          <input type="date" class="form-control" placeholder="End date">
                      </form>
                  </div>
              </div>
          </nav>

          <!-- Main Content Area -->
        
      </main>
  </div>
</div>
</div>
