<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="topNavbar">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link"  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }" routerLink="/member"><i class="fa fa-tachometer-alt"></i> Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/member/my-membership"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                  <i class="fa fa-id-card"></i> My MemberShip
                </a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-file-alt"></i> Documents </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-users"></i> Team <span class="badge bg-secondary">99+</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-chart-line"></i> Reports</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-user-cog"></i> Admin</a>
              </li> -->
          </ul>
          
        
      </div>
  </div>
  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
    <img [src]="'http://127.0.0.1:3000/files/' + data.user.profileImage" alt="Profile" class="rounded-circle">
    <span class="d-none d-md-block dropdown-toggle ps-2">{{data.user.username}}</span>
  </a><!-- End Profile Iamge Icon -->

  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
    <li class="dropdown-header">
      <h6>{{data.user.username}}</h6>
      <span>{{data.user.job}}</span>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>

    <li>
      <a routerLink="/member/profile" class="dropdown-item d-flex align-items-center" >
        <i class="bi bi-person"></i>
        <span>My Profile</span>
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>

    <li>
      <a class="dropdown-item d-flex align-items-center" >
        <i class="bi bi-gear"></i>
        <span>Account Settings</span>
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>

    <li>
      <a class="dropdown-item d-flex align-items-center" routerLink="/member/faq">
        <i class="bi bi-question-circle"></i>
        <span>Need Help?</span>
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>

    <li>
      <a  (click)="logout()" class="dropdown-item d-flex align-items-center" >
        <i class="bi bi-box-arrow-right"></i>
        <span>Sign Out</span>
      </a>
    </li>

  </ul> 


  
</nav>























  

